// Fonts
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700')

// Icons
@import url('https://fonts.googleapis.com/icon?family=Material+Icons')

// Colors
$white: #ffffff
$light-gray: #F8F8F9
$medium-gray: darken($light-gray, 4%)
$gray: darken($light-gray, 16%)
$dark-gray: #1D1D26
$blue: #008DFB
$green-blue: #009BE1
$dark-blue: #002E6D
$red: #F04E62
$green: #00A99D
$yellow: #F5B700

// Defaults
*
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  outline: none
  box-sizing: border-box

html
  font-size: 62.5%

body
  margin: 0
  padding: 0
  background: $light-gray
  font-size: 1.4rem
  font-family: 'Source Sans Pro', sans-serif
  color: $dark-gray
  line-height: 2.8rem

a
  color: $blue
  text-decoration: none
  transition: 0.3s

p
  font-size: 1.4rem
  line-height: 2rem

h1
  font-size: 2.4rem
  font-weight: 400

h2
  font-size: 2rem
  font-weight: 400

h3
  font-size: 1.8rem
  font-weight: 400

h5
  font-size: 1.4rem
  font-weight: 700

hr
  border: none
  height: .2rem
  background: $gray
  margin: 4rem 0

// Buttons
.s-button
  height: 2.7rem
  background: $blue
  color: $white
  border: none
  font-size: 1.4rem
  padding:  0 2rem
  transition: 0.3s

  &:hover
    background: darken($blue, 5%)
    cursor: pointer

  &--text
    border: none
    background: none
    color: $gray
    width: auto
    display: flex
    align-items: center
    padding: 0
    transition: 0.3s

    span
      font-size: 1.4rem
      display: inline-block
      margin: 0 0 0 .5rem

    &:hover
      background: none
      cursor: pointer
      i, span
        color: $blue

  &--secondary
    background: $green

    &:hover
      background: darken($green, 5%)

  &--green-blue
    background: $green-blue

    &:hover
      background: darken($green-blue, 5%)

  &--gray
    background: darken($gray, 20%)

    &:hover
      background: darken($gray, 30%)

  &--large
    height: 4.8rem

  &--icon
    display: inline-flex
    align-items: center
    i
      font-size: 1.6rem
      margin-right: 1rem

// Helpers
.s-align-center
  text-align: center

// Forms
.s-form

  &-inline-helper
    position: absolute
    right: 0
    top: .6rem

    &__container
      position: relative

  &__field
    margin: 0 0 3rem 0
    position: relative

    &--error

      .s-error-message
        display: block

      .s-label
        color: $red

      .s-input
        border-color: $red

  .s-column
    margin-right: 10rem

.s-label
  display: block
  text-transform: uppercase
  color: darken($gray, 20%)
  margin: 0 0 1rem 0

.s-input
  display: block
  border: 0
  background: 0
  padding: 1rem 0
  border-bottom: $gray .1rem solid
  font-size: 1.4rem
  width: 100%
  transition: 0.3s

  &:focus
    border-color: $blue

.s-error-message
  background: $red
  color: white
  padding: 1rem
  display: none
  margin: 1rem 0 0 0

\::-webkit-input-placeholder
  /* Chrome/Opera/Safari
  color: $gray

\::-moz-placeholder
  /* Firefox 19+
  color: $gray

\:-ms-input-placeholder
  /* IE 10+
  color: $gray

\:-moz-placeholder
  /* Firefox 18-
  color: $gray

// Layout
.s-two-column
  display: flex
  justify-content: space-between

  .s-column
    width: 50%

// Upload
.s-upload
  background: $medium-gray
  padding: 4rem 6rem
  margin: 0 0 4rem 0

  &__button
    width: .01rem
    height: .01rem
    opacity: 0
    overflow: hidden
    position: absolute
    z-index: -1

    + label
      font-size: 1.4rem
      color: white
      background-color: $green
      display: inline-block
      height: 4.8rem
      padding: 0 2rem
      line-height: 4.8rem
      transition: 0.3s

    &:focus + label, + label:hover
      background-color: darken($green, 5%)

  &__doc
    display: flex
    align-items: center
    color: darken($gray, 20%)

    span
      display: block
      margin: 0 1rem

// Max-width and Flex Wrapper
.s-wrapper
  width: 100%
  max-width: 117rem
  margin: 0 auto
  padding: 0 2rem

// Top Nav
.s-nav
  background: $white
  height: 9.6rem

  .s-wrapper
    display: flex
    justify-content: space-between
    align-items: center
    height: inherit

  &__logo
    height: 3.7rem
    width: 11.5rem

    img
      width: 100%
      display: inline-block
      margin-top: .5rem

  &__search
    height: 4.8rem
    width: 100%
    max-width: 50rem
    margin: 0 2rem
    position: relative

    &-icon
      position: absolute
      top: 1.2rem
      left: 1rem
      color: $gray

    input[type=text]
      height: inherit
      width: inherit
      background: $light-gray
      box-shadow: none
      border: none
      font-size: 1.4rem
      padding: 0rem 2rem 0rem 4.5rem
      transition: 0.3s

      &:focus
        background: darken($light-gray, 3%)

  &__avatar
    height: 4.3rem
    width: 4.3rem

    img
      height: 100%
      display: inline-block
      vertical-align: middle
      border-radius: 50%

  &__avatar-placeholder
    background: $green
    color: $white
    text-transform: uppercase
    border-radius: 50%
    height: 4.3rem
    width: 4.3rem
    line-height: 4.3rem
    text-align: center

  &__breadcrumb
    display: flex

    p
      font-size: 2.4rem
      font-weight: 400

    .s-button--text
      font-size: 3rem
      margin-right: 2rem

  &--preview
    background: $light-gray

    .s-wrapper
      border-bottom: $gray .2rem solid

  &--candidate
    height: 12rem

    .s-wrapper
      justify-content: center

    .s-nav__logo
      height: 8rem

      img
        height: 100%
        width: auto

  &__menu-container
    position: relative

    .s-menu
      left: auto
      right: 0
      min-width: 15rem
      margin-top: 1rem

// Subnav
.s-subnav

  &__content
    display: flex
    align-items: center
    border-bottom: .1rem solid $gray

  button
    margin-right: 1rem

// Header
.s-header
  border-bottom: $gray .2rem solid
  display: flex
  justify-content: space-between
  align-items: center
  margin-bottom: 2rem
  padding: 0 0 2rem 0

  h3
    margin: 0

// Offer
.s-offer
  background: $medium-gray
  padding: 4rem 0

  &__container
    display: flex

  &__template
    background: $white
    height: 19rem
    width: 18rem
    display: flex
    flex-direction: column
    margin-right: 2rem
    color: $gray
    box-shadow: 0 .2rem .2rem 0 rgba(0,0,0,0.1)

    &:hover
      background: $light-gray
      box-shadow: 0 .3rem .2rem 0 rgba(0,0,0,0.2)

    h5
      color: $dark-gray

    i
      font-size: 6rem
      color: $gray

    &-content
      flex-grow: 1
      display: flex
      justify-content: center
      align-items: center

    &-footer
      border-top: $gray .2rem solid
      height: 5rem
      display: flex
      justify-content: center
      align-items: center

    &--new
      color: $blue
      i, h5
        color: $blue

  &--candidate
    background: none
    padding: 2rem 0

// Status
.s-status
  display: flex
  align-items: center

  .s-dot
    margin: 0 1rem

    &--large
      margin-right: 2rem

  input
    background: none
    border: none
    font-size: 2.4rem
    font-weight: 400

// Dots
.s-dot
  width: .6rem
  height: .6rem
  border-radius: 50%
  display: inline-block

  &--red
    background: $red

  &--green
    background: $green

  &--dark-gray
    background: $dark-gray

  &--yellow
    background: $yellow

  &--blue
    background: $blue

  &--dark-blue
    background: $dark-blue

  &--gray
    background: $gray

  &--large
    width: 1.1rem
    height: 1.1rem

// Pills
.s-input__with-pills
  display: flex
  border-bottom: $gray .1rem solid
  input
    display: inline-flex
    border: none

  &-container
    display: flex

.s-pill
  display: inline-flex
  align-items: center
  background: darken($gray, 20%)
  border-radius: 100rem
  padding: 0 1rem
  color: $white
  margin-right: 0.4rem
  height: 3.3rem
  margin-bottom: 0.4rem

  i
    font-size: 1.4rem
    margin-left: .5rem
    transition: all .3s

    &:hover
      cursor: pointer
      color: $dark-gray

// Manage Offers Section
.s-manage-offers
  padding: 4rem 0

  &__header
    display: flex
    align-items: center
    justify-content: space-between

  &__table

    table
      width: 100%
      border-collapse: collapse
    th
      text-align: left
      text-transform: uppercase
      padding: 2rem 0
      border-bottom: $gray .2rem solid
    td
      padding: 2rem 0
      border-bottom: $gray .1rem solid
    tr:hover
      background: $medium-gray
      cursor: pointer
    thead
      tr:hover
        background: none
        cursor: default

  &__details

    td
      padding: 0

    &-content
      display: flex
      justify-content: space-between
      padding: 2rem
      background: $medium-gray
      align-items: center

      dl
        margin: 0 6rem 0 0
        padding: 0
        display: inline-block
        font-size: 1.2rem
      dt
        margin: 0
        padding: 0
        text-transform: uppercase
        color: darken($gray, 20%)
      dd
        margin: 1rem 0 0 0
        padding: 0
        color: $dark-gray


// New Offer
.s-new-offer
  padding: 4rem 0

  .s-wrapper
    display: flex

  .s-input, .s-error-message
    max-width: 40rem

  &__content
    flex-grow: 2

  &--with-subnav, &--candidate
    padding: 0 0 4rem 0

  .s-input__with-pills
    max-width: 50rem

    .s-input
      max-width: 100%


// Sidebar
.s-sidebar
  width: 33.33%
  padding-left: 10rem

  &__header
    display: flex
    justify-content: space-between
    background: $medium-gray
    margin: 0 0rem 4rem -2rem
    padding: 2rem
    align-items: center
    color: darken($gray, 20%)

  &__content
    border-left: .1rem solid $gray
    padding-left: 2rem
    height: 100%

// Loading Progress Bar
.s-progress

  &__background
    height: 1.6rem
    position: relative
    background: darken($medium-gray, 10%)
    border-radius: 100rem

  &__bar
    height: inherit
    position: absolute
    background: $green
    border-radius: 100rem

  &__text
    text-align: center
    margin: 1rem 0 0 0
    color: darken($medium-gray, 30%)

    span
      color: $dark-gray

// iFrame Container
.s-iframe-container
  margin: 4rem 0
  box-shadow: 0 .5rem .8rem 0 rgba(0,0,0,0.19)
  padding: 0

  iframe
    width: 100%
    height: 100%
    border: none
    min-height: 60rem

// Timeline
.s-timeline

  &__header
    background: $medium-gray
    margin: 4rem 0rem 0rem -2rem
    padding: .5rem 2rem
    color: darken($gray, 20%)

  &__item
    display: flex
    align-items: center
    padding: 3rem 0
    border-bottom: .1rem solid $gray
    margin-left: -2rem

    &--active
      position: relative

      &:before
        content: ""
        position: absolute
        height: 100%
        width: .2rem
        background: darken($gray, 20%)


  &__icon
    margin: 0 2rem
    i
      font-size: 2.6rem

    &--green
      i
        color: $green

    &--blue
      i
        color: $blue

    &--dark-blue
      i
        color: $dark-blue

    &--red
      i
        color: $red


  &__meta

    h5
      margin: 0

    small
      color: darken($medium-gray, 30%)

    p
      font-size: 1rem

// Sidebar Help Text
.s-help-text
  font-size: 1.4rem
  line-height: 2.8rem
  margin-bottom: 4rem

//Menu
.s-menu
  background: $white
  position: absolute
  box-shadow: 0 .2rem .4rem 0 rgba(0,0,0,0.19)
  z-index: 1
  padding: 2rem 0

  h5
    color: darken($gray, 20%)
    font-size: 1.5rem
    margin: 0 0 1rem 0
    padding: 0 2rem

  &__item
    display: block
    padding: 0 2rem
    color: $dark-gray

    &:hover
      background: $medium-gray

    &--selected
      background: $medium-gray

// Candidate Sign Up
.s-candidate-signup
  background: $medium-gray
  height: 100vh
  width: 100vw
  padding: 4rem

  &__logo
    width: auto
    height: 8rem
    text-align: center
    margin-bottom: 4rem

    img
      height: 100%
      width: auto

  &__form
    background: $white
    padding: 4rem
    max-width: 60rem
    margin: 0 auto

  h3
    text-align: center

  .s-form__footer
    display: flex
    justify-content: center

    .s-button
      width: 100%

// Candidate Login
.s-candidate-login
  background: $white
  height: 100vh
  width: 100vw
  padding: 4rem

  &__logo
    width: auto
    height: 8rem
    text-align: center
    margin-bottom: 4rem

    img
      height: 100%
      width: auto

  &__form
    padding: 4rem
    max-width: 60rem
    margin: 0 auto

  .s-form__footer
    display: flex
    justify-content: center

    .s-button
      width: 100%

// Tab
.s-tab
  display: flex
  justify-content: center
  align-items: center
  background: $white
  padding-top: 1rem

  &__item
    border-bottom: .6rem solid transparent
    padding: 1rem 2rem
    margin: 0 .5rem
    color: $dark-gray
    font-size: 1.4rem
    text-transform: uppercase

    &:hover
      color: $green-blue

    &--active
      border-bottom: .6rem solid $green-blue

      &:hover
        color: $dark-gray
        cursor: default

// Avatar
.s-avatar
  width: 8rem
  height: 8rem

  img
    width: auto
    height: 100%

// Signature Image
.s-signature-image
  height: 5rem
  width: auto

  img
    height: 100%
    width: auto

// Welcome
.s-welcome
  padding: 4rem 0

  &__content
    max-width: 60rem
    display: flex
    margin: 0 auto

  h1
    font-size: 3.4rem
    margin-bottom: 5rem

  .s-avatar
    margin-right: 6rem

// Hero
.s-hero
  height: 38.5rem
  color: $white
  display: flex
  align-items: center
  text-align: center
  margin-top: 6rem
  border-radius: 0 14.1rem 0 0

  &__content
    padding: 0 2rem
    max-width: 80rem
    margin: 0 auto

  h1
    font-size: 4.8rem

  p
    line-height: 1.9rem

  &--candidate-offer
    background: url('/images/candidate-offer-bg.png') center no-repeat
    background-size: cover

// Card
.s-card
  width: calc((100% / 4) - 20px)
  box-shadow: 0 .2rem .2rem 0 rgba(0,0,0,0.1)
  margin-top: 2rem
  transition: all .3s

  &:hover
    cursor: pointer
    box-shadow: 0 .3rem .2rem 0 rgba(0,0,0,0.2)

    .s-card__footer
      color: $green-blue

  &:not(:last-of-type)
    margin-right: 2rem

  &__container
    display: flex
    justify-content: space-between
    flex-wrap: wrap

  &__image
    height: 19.2rem
    width: 100%
    overflow: hidden

    img
      width: auto
      height: 100%

  &__footer
    text-align: center
    padding: 2rem 0
    font-size: 1.6rem

// Work Life
.s-work-life

  &__video
    display: flex
    justify-content: center

  &__content
    max-width: 60rem
    margin: 5rem auto 0 auto

    h2
      color: darken($gray, 10%)
      text-transform: uppercase

  .s-card
    width: calc((100% / 3 ) - 20px)

  .s-wrapper
    max-width: 74rem

// Media Queries
@media screen and (max-width: 600px)

  .s-hero
    h1
      font-size: 2.4rem

  .s-work-life
    .s-card
      width: calc((100% / 2) - 10px)
    &__video
      iframe
        height: 20rem
        width: 100%

  .s-card
    width: calc((100% / 2) - 10px)

    &:not(:last-of-type)
      margin-right: 0

    &__image
      height: 15rem

  .s-welcome
    h1
      font-size: 3rem
      margin-bottom: 2rem

  .s-welcome__content
    display: flex
    flex-direction: column

    .s-avatar
      display: none

    .s-button--green-blue
      width: 100%

  .s-candidate-signup
    padding: 2rem

    &__logo
      width: auto
      height: 5rem
      text-align: center
      margin-bottom: 2rem

      img
        height: 100%
        width: auto

    &__form
      padding: 1rem

  .s-candidate-login
    padding: 2rem

    &__logo
      width: auto
      height: 50vh
      justify-content: center
      display: flex

      img
        height: 8rem
        width: auto
        align-self: center

    &__form
      padding: 1rem

  .s-form__field
    margin: 0 0 2rem 0

  .s-label
    margin: 0
