// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,600')

// Icons
@import url('https://fonts.googleapis.com/icon?family=Material+Icons')

// Colors
$white: #ffffff
$light-gray: #F8F8F9
$medium-gray: darken($light-gray, 4%)
$gray: darken($light-gray, 16%)
$dark-gray: #1D1D26
$blue: #008DFB
$red: #F04E62
$dark-blue: #F04E62
$green: #00A99D
$yellow: #F5B700

// Defaults
*
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  outline: none
  box-sizing: border-box
  transition: 0.3s

html
  font-size: 62.5%

body
  margin: 0
  padding: 0
  background: $light-gray
  font-size: 1.4rem
  font-family: 'Nunito Sans', sans-serif
  color: $dark-gray

a
  color: $blue
  text-decoration: none

p
  font-size: 1.4rem

h1
  font-size: 2.4rem

h3
  font-size: 1.8rem

h5
  font-size: 1.4rem

// Buttons
.s-button

  &--text
    border: none
    background: none

    i:hover
      color: $blue

// Max-width and Flex Wrapper
.s-wrapper
  width: 100%
  max-width: 117rem
  margin: 0 auto
  padding: 0 2rem

// Top Nav
.s-nav
  background: $white
  height: 9.6rem

  .s-wrapper
    display: flex
    justify-content: space-between
    align-items: center
    height: inherit

  &__logo
    height: 3.7rem
    width: 11.5rem

    img
      width: 100%
      display: inline-block
      margin-top: .5rem

  &__search
    height: 4.8rem
    width: 100%
    max-width: 50rem
    margin: 0 2rem
    position: relative

    &-icon
      position: absolute
      top: 1.2rem
      left: 1rem

    input[type=text]
      height: inherit
      width: inherit
      background: $light-gray
      box-shadow: none
      border: none
      font-size: 1.4rem
      padding: 0rem 2rem 0rem 4.5rem

      &:focus
        background: darken($light-gray, 3%)

  &__avatar
    height: 4.3rem
    width: 4.3rem

    img
      height: 100%
      display: inline-block
      vertical-align: middle
      border-radius: 50%

// Header
.s-header
  border-bottom: $gray .2rem solid
  display: flex
  justify-content: space-between
  align-items: center
  margin-bottom: 2rem
  padding: 0 0 2rem 0

  h3
    margin: 0

// Offer
.s-offer
  background: $medium-gray
  padding: 4rem 0

  &__container
    display: flex

  &__template
    background: $white
    height: 19rem
    width: 18rem
    display: flex
    flex-direction: column
    margin-right: 2rem
    color: $gray
    box-shadow: 0 .2rem .2rem 0 rgba(0,0,0,0.1)

    &:hover
      background: $light-gray
      box-shadow: 0 .3rem .2rem 0 rgba(0,0,0,0.2)

    h5
      color: $dark-gray

    i
      font-size: 6rem
      color: $gray

    &-content
      flex-grow: 1
      display: flex
      justify-content: center
      align-items: center

    &-footer
      border-top: $gray .2rem solid
      height: 5rem
      display: flex
      justify-content: center
      align-items: center

    &--new
      color: $blue
      i, h5
        color: $blue

// Status
.s-status
  display: flex
  align-items: center

  .s-dot
    margin-right: .5rem

// Dots
.s-dot
  width: .6rem
  height: .6rem
  border-radius: 50%
  display: inline-block

  &--red
    background: $red

  &--green
    background: $green

  &--dark-gray
    background: $dark-gray

  &--yellow
    background: $yellow

  &--blue
    background: $blue

  &--gray
    background: $gray

// Manage Offers Section
.s-manage-offers
  padding: 4rem 0

  &__table

    table
      width: 100%
      border-collapse: collapse
    th
      text-align: left
      text-transform: uppercase
      padding: 2rem 0
      border-bottom: $gray .2rem solid
    td
      padding: 2rem 0
      border-bottom: $gray .1rem solid
    tr:hover
      background: $medium-gray
      cursor: pointer
    thead
      tr:hover
        background: none
        cursor: default
