---
title: Silkroad - Candidate Welcome
---

<div class="s-nav s-nav--candidate">
  <div class="s-wrapper">
    <div class="s-nav__logo">
      <img src="images/paypal-logo.png" alt="Paypal Logo" />
    </div>
  </div>
</div>

<div class="s-tab">
  <a href="/candidate-welcome.html" class="s-tab__item s-tab__item--active">
    Welcome
  </a>
  <a href="/candidate-offer.html" class="s-tab__item">
    Your Offer
  </a>
  <a href="/candidate-work-life.html" class="s-tab__item">
    Work Life
  </a>
</div>

<div class="s-welcome">
  <div class="s-wrapper">
    <div class="s-align-center">
      <h1>Help us reimagine money.</h1>
    </div>
    <div class="s-welcome__content">
      <div class="s-avatar">
        <img src="images/danielschulman.png" alt="Daniel Schulman" />
      </div>
      <div>
        <p>
          Hi Taylor,
        </p>
        <p>
          We believe that now is the time to democratize financial services so that moving and managing money is a right for all citizens.
        </p>
        <p>
          We are driven by this purpose, and we uphold our cultural values of collaboration, innovation, wellness and inclusion as our guide for making decisions and conducting business every day.
        </p>
        <p>
          Are you ready to build a world of economic opportunity?
        </p>
        <p>
          Join us.
        </p>
        <div class="s-signature-image">
          <img src="images/Jacques-Pepin-Full-Signature-2-600x284.png" alt="sig"  />
        </div>
        <p>
          Daniel Schulman
          <br />
          CEO
        </p>
        <button class="s-button s-button--large s-button--green-blue">Review Your Offer</button>
      </div>
    </div>
  </div>
</div>
