---
title: Silkroad - Candidate Login
---

<div class="s-candidate-login">
  <div class="s-candidate-login__logo">
    <img src="images/paypal-logo.png" alt="Paypal Logo" />
  </div>
  <div class="s-candidate-login__form">
    <form class="s-form">
      <div class="s-form__field">
        <label class="s-label">User Name</label>
        <input class="s-input" type="text" placeholder="Your username" />
        <div class="s-error-message">
          Oops something went from.
        </div>
      </div>
      <div class="s-form__field">
        <label class="s-label">Password</label>
        <div class="s-form-inline-helper__container">
          <input class="s-input" type="password" placeholder="Your password" />
          <div class="s-form-inline-helper">
            <a href="#">Forgot Password</a>
          </div>
        </div>
        <div class="s-error-message">
          Oops something went from.
        </div>
      </div>
      <div class="s-form__footer">
        <button class="s-button s-button--green-blue s-button--large">Sign Up</button>
      </div>
      <p class="s-align-center">
        DON'T HAVE AN ACCOUNT
        <a href="#">SIGN UP</a>
      </p>
    </form>
  </div>
</div>
