---
title: Silkroad - Candidate Offer
---

<div class="s-nav s-nav--candidate">
  <div class="s-wrapper">
    <div class="s-nav__logo">
      <img src="images/paypal-logo.png" alt="Paypal Logo" />
    </div>
  </div>
</div>

<div class="s-tab">
  <a href="/candidate-welcome.html" class="s-tab__item">
    Welcome
  </a>
  <a href="/candidate-offer.html" class="s-tab__item s-tab__item--active">
    Your Offer
  </a>
  <a href="/candidate-work-life.html" class="s-tab__item">
    Work Life
  </a>
</div>

<div class="s-wrapper">
  <div class="s-iframe-container">
    <iframe src="http://www.espn.com/">
      <p>Your browser does not support iframes.</p>
    </iframe>
  </div>
</div>
