---
title: Silkroad - Candidate Sign Up
---

<div class="s-candidate-signup">
  <div class="s-candidate-signup__logo">
    <img src="images/paypal-logo.png" alt="Paypal Logo" />
  </div>
  <div class="s-candidate-signup__form">
    <h3>Some Sign Up Instructions</h3>
    <form class="s-form">
      <div class="s-form__field">
        <label class="s-label">Full Name</label>
        <input class="s-input" type="text" placeholder="Your full name" />
        <div class="s-error-message">
          Oops something went from.
        </div>
      </div>
      <div class="s-form__field">
        <label class="s-label">Email</label>
        <input class="s-input" type="email" placeholder="Your email address" />
        <div class="s-error-message">
          Oops something went from.
        </div>
      </div>
      <div class="s-form__field">
        <label class="s-label">Password</label>
        <input class="s-input" type="password" placeholder="Type a password" />
        <div class="s-error-message">
          Oops something went from.
        </div>
      </div>
      <div class="s-form__field">
        <label class="s-label">Confirm Password</label>
        <input class="s-input" type="password" placeholder="Confirm your password" />
        <div class="s-error-message">
          Oops something went from.
        </div>
      </div>
      <div class="s-form__footer">
        <button class="s-button s-button--green-blue s-button--large">Next</button>
      </div>
    </form>
  </div>
</div>
