---
title: Silkroad - UI List
---

<div class="s-wrapper" style="padding: 20px">
  <a href="/offers-page.html">Offers Page</a>
  <br />
  <a href="/new-offer.html">New Offer</a>
  <br />
  <a href="/new-offer-upload-loading.html">New Offer Upload Loading</a>
  <br />
  <a href="/new-offer-upload-added.html">New Offer Upload Added</a>
  <br />
  <a href="/new-offer-details.html">New Offer Details</a>
  <br />
  <a href="/new-offer-details-rejected-edit.html">New Offer Rejected Details Edit</a>
</div>
