---
title: Silkroad - UI List
---

<div class="s-wrapper" style="padding: 20px">
  <a href="ui.html">UI</a>
  <br />
  <a href="settings.html">Settings</a>
  <br />
  <a href="settings-add-page.html">Settings Add Page</a>
  <br />
  <a href="candidate-welcome.html">Candidate Welcome</a>
  <br />
  <a href="candidate-offer.html">Candidate Offer</a>
  <br />
  <a href="candidate-work-life.html">Candidate Work Life</a>
  <br />
  <a href="candidate-work-life-content.html">Candidate Work Life Content</a>
  <br />
  <a href="template-list.html">Template List</a>
  <br />
  <a href="new-template.html">New Template</a>
  <br />
  <a href="new-template-progress.html">New Template Progress</a>
  <br />
  <a href="new-template-added.html">New Template Added</a>
  <br />
  <a href="new-template-add-fields.html">New Template Add Fields</a>
  <br />
  <a href="new-template-details.html">New Template Details</a>
  <br />
  <a href="template-preview.html">Template Preview</a>
  <br />
  <a href="new-data.html">New Data</a></a>
  <br />
  <a href="new-upload.html">New Upload</a></a>
  <br />
  <a href="new-upload-progress.html">New Upload Progress</a></a>
  <br />
  <a href="new-upload-attached.html">New Upload Attached</a></a>
  <br />
  <a href="offers-page.html">Offers Page</a>
  <br />
  <a href="new-offer.html">New Offer</a>
  <br />
  <a href="new-offer-upload-loading.html">New Offer Upload Loading</a>
  <br />
  <a href="new-offer-upload-added.html">New Offer Upload Added</a>
  <br />
  <a href="new-offer-details.html">New Offer Details</a>
  <br />
  <a href="new-offer-details-rejected-edit.html">New Offer Rejected Details Edit</a>
  <br />
  <a href="new-offer-add-signature-fields.html">New Off Add Signature Fields</a>
  <br />
  <a href="new-offer-add-approvers.html">New Off Add Approvers</a>
  <br />
  <a href="offer-preview.html">Offer Preview</a>
  <br />
  <a href="candidate-signup.html">Candidate Sign Up</a>
  <br />
  <a href="candidate-login.html">Candidate Login</a>
  <br />
  <a href="candidate-offer-esign.html">Candidate Offer eSign</a>
</div>
