---
title: Silkroad
---

<div class="s-nav">
  <div class="s-wrapper">
    <div class="s-nav__logo">
      <img src="images/silkroad-logo.png" alt="Silkroad Logo" />
    </div>
    <div class="s-nav__search">
      <div class="s-nav__search-icon">
        <i class="material-icons">
          search
        </i>
      </div>
      <input type="text" placeholder="Search by project or person" />
    </div>
    <div class="s-nav__avatar">
      <img src="http://www.radfaces.com/images/avatars/melvin-ferd.jpg" alt="Melvin Ferd" />
    </div>
  </div>
</div>
