---
title: Silkroad - New Upload Attached
---

<div class="s-nav">
  <div class="s-wrapper">
    <div class="s-nav__breadcrumb">
      <button class="s-button--text">
        <i class="material-icons">
          arrow_back
        </i>
      </button>
      <p>Data Import</p>
    </div>
  </div>
</div>

<div class="s-new-offer">
  <div class="s-wrapper">
    <div class="s-new-offer__content">
        <h1>Upload your file</h1>
        <p>
          Only Excel (.xls and .xlsx) and CSV file types are supported.
        </p>
        <div class="s-upload">
          <input type="file" name="file" id="file" class="s-upload__button" />
          <label for="file">Upload Files</label>
        </div>
        <div class="s-upload__doc">
          <i class="material-icons">
            insert_drive_file
          </i>
          <span>SalesOfferLetter (2).docx</span>
          <button class="s-button--text">
            <i class="material-icons">
              cancel
            </i>
          </button>
        </div>
        <hr />
        <button class="s-button s-button--large">Next</button>
      </div>
      <div class="s-sidebar">
      </div>
    </div>
</div>
