---
title: Silkroad - New Offer Details
---

<div class="s-nav">
  <div class="s-wrapper">
    <div class="s-nav__logo">
      <a href="/" alt="Silkroad"><img src="images/silkroad-logo.png" alt="Silkroad Logo" /></a>
    </div>
    <div class="s-nav__search">
      <div class="s-nav__search-icon">
        <i class="material-icons">
          search
        </i>
      </div>
      <input type="text" placeholder="Search by project or person" />
    </div>
    <div class="s-nav__avatar">
      <a href="#"><img src="http://www.radfaces.com/images/avatars/melvin-ferd.jpg" alt="Melvin Ferd" /></a>
    </div>
  </div>
</div>

<div class="s-subnav">
  <div class="s-wrapper">
    <div class="s-subnav__content">
      <button class="s-button--text">
        <i class="material-icons">
          arrow_back
        </i>
      </button>
      <h3>Offers</h3>
    </div>
  </div>
</div>

<div class="s-new-offer s-new-offer--with-subnav">
  <div class="s-wrapper">
    <div class="s-new-offer__content">
      <div class="s-iframe-container">
        <iframe src="http://www.espn.com/">
          <p>Your browser does not support iframes.</p>
        </iframe>
      </div>
    </div>
    <div class="s-sidebar">
      <div class="s-sidebar__content">
        <div class="s-sidebar__header">
          <p>
            New Request
          </p>
          <i class="material-icons">
            info
          </i>
        </div>
        <form class="s-form">
          <div class="s-form__field">
            <label class="s-label">Offer Document</label>
            <p>
              Sales Offer 1
            </p>
          </div>
          <div class="s-form__field">
            <label class="s-label">Add Approvers</label>
            <p>
              Michael Baxter
            </p>
            <p>
              Paul Allen
            </p>
          </div>
          <div class="s-form__field">
            <label class="s-label">Candidate</label>
            <p>
              John Doe
            </p>
          </div>
          <br />
          <button class="s-button s-button--large">Edit Offer Letter</button>
        </form>
        <div class="s-timeline">
          <div class="s-timeline__header">
            <p>
              Timeline
            </p>
          </div>
          <div class="s-timeline__item s-timeline__item--active">
            <div class="s-timeline__icon s-timeline__icon--green">
              <i class="material-icons">
                insert_drive_file
              </i>
            </div>
            <div class="s-timeline__meta">
              <h5>Candidate Name</h5>
              <small>8:38AM - Mar 3, 2018</small>
            </div>
          </div>
          <div class="s-timeline__item">
            <div class="s-timeline__icon s-timeline__icon--blue">
              <i class="material-icons">
                send
              </i>
            </div>
            <div class="s-timeline__meta">
              <h5>Recruiter Name</h5>
              <small>11:23AM - Mar 3, 2018</small>
            </div>
          </div>
          <div class="s-timeline__item">
            <div class="s-timeline__icon s-timeline__icon--green">
              <i class="material-icons">
                check
              </i>
            </div>
            <div class="s-timeline__meta">
              <h5>Approver Name</h5>
              <small>11:23AM - Mar 3, 2018</small>
            </div>
          </div>
          <div class="s-timeline__item">
            <div class="s-timeline__icon s-timeline__icon--dark-blue">
              <i class="material-icons">
                insert_drive_file
              </i>
            </div>
            <div class="s-timeline__meta">
              <h5>Recruiter Name</h5>
              <small>8:23AM - Mar 3, 2018</small>
            </div>
          </div>
          <div class="s-timeline__item">
            <div class="s-timeline__icon s-timeline__icon--red">
              <i class="material-icons">
                cancel
              </i>
            </div>
            <div class="s-timeline__meta">
              <h5>Approver Name</h5>
              <small>12:14PM - Mar 2, 2018</small>
              <p>
                Paragrapgh of text comment submitted when an approver declines the offer.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
