---
title: Silkroad - New Upload Progress
---

<div class="s-nav">
  <div class="s-wrapper">
    <div class="s-nav__breadcrumb">
      <button class="s-button--text">
        <i class="material-icons">
          arrow_back
        </i>
      </button>
      <p>Data Import</p>
    </div>
  </div>
</div>

<div class="s-new-offer">
  <div class="s-wrapper">
    <div class="s-new-offer__content">
        <h1>Upload your file</h1>
        <p>
          Only Excel (.xls and .xlsx) and CSV file types are supported.
        </p>
        <div class="s-upload">
          <div class="s-progress">
            <div class="s-progress__background">
              <div class="s-progress__bar" style="width: 30%"></div>
            </div>
            <div class="s-progress__text">
              Uploading <span>My candidates spreadsheet(1).docx</span>
            </div>
          </div>
        </div>
        <button class="s-button s-button--large s-button--gray">Cancel Important</button>
        <hr />
        <button class="s-button s-button--large">Next</button>
      </div>
      <div class="s-sidebar">
      </div>
    </div>
</div>
