---
title: Silkroad - New Data
---

<div class="s-nav">
  <div class="s-wrapper">
    <div class="s-nav__logo">
      <a href="/" alt="Silkroad"><img src="images/silkroad-logo.png" alt="Silkroad Logo" /></a>
    </div>
    <div class="s-nav__search">
      <div class="s-nav__search-icon">
        <i class="material-icons">
          search
        </i>
      </div>
      <input type="text" placeholder="Search by project or person" />
    </div>
    <div class="s-nav__menu-container">
      <div class="s-nav__avatar">
        <a href="#">
          <div class="s-nav__avatar-placeholder">
            aa
          </div>
        </a>
      </div>
      <div class="s-menu">
        <a href="#" class="s-menu__item">Settings</a>
        <a href="#" class="s-menu__item s-menu__item--selected">Templates</a>
        <a href="#" class="s-menu__item">Import</a>
      </div>
    </div>
  </div>
</div>

<div class="s-offer">
  <div class="s-wrapper">
    <div class="s-header">
      <h3>Offers</h3>
      <button class="s-button s-button--text">
        <i class="material-icons">
          cloud_upload
        </i>
      </button>
    </div>
    <div class="s-offer__container">
      <a class="s-offer__template s-offer__template--new" href="">
        <div class="s-offer__template-content">
          <i class="material-icons">
            note_add
          </i>
        </div>
        <div class="s-offer__template-footer">
          <h5>
            From A File
          </h5>
        </div>
      </a>
      <a class="s-offer__template" href="">
        <div class="s-offer__template-content">
          <i class="material-icons">
            insert_drive_file
          </i>
        </div>
        <div class="s-offer__template-footer">
          <h5>
            From Software
          </h5>
        </div>
      </a>
    </div>
  </div>
</div>

<div class="s-manage-offers">
  <div class="s-wrapper">
    <h1>
      Import History
    </h1>
    <p>
      Import sessions are kept for 30 days, but can only be deleted in the first 48 hours after upload.
    </p>
    <div class="s-manage-offers__table">
      <table>
        <thead>
          <tr>
            <th>Date</th>
            <th>File Name</th>
            <th>User</th>
            <th>Status</th>
          </tr>
        </thead>
        <tr>
          <td>Jun 9</td>
          <td><a href="">A Really Ridiculously Long Naming …</a></td>
          <td>Daniel Smith</td>
          <td>Complete</td>
        </tr>
        <tr>
          <td>Jun 9</td>
          <td><a href="">A Really Ridiculously Long Naming …</a></td>
          <td>Daniel Smith</td>
          <td>Complete</td>
        </tr>
      </table>
    </div>
  </div>
</div>
