---
title: Silkroad - New Offer Edit Rejected
---

<div class="s-nav">
  <div class="s-wrapper">
    <div class="s-nav__breadcrumb">
      <button class="s-button--text">
        <i class="material-icons">
          arrow_back
        </i>
      </button>
      <p>New Offer Letter</p>
    </div>
  </div>
</div>

<div class="s-new-offer">
  <div class="s-wrapper">
    <div class="s-new-offer__content">
      <div class="s-status">
        <span class="s-dot s-dot--large s-dot--yellow"></span>
        <h1><input type="text" value="Sales Job Title" /></h1>
      </div>
      <form class="s-form">
        <div class="s-two-column">
          <div class="s-column">
            <div class="s-form__field">
              <label class="s-label">Organization</label>
              <input class="s-input" placeholder="Add organization" value="Org Name" />
              <div class="s-error-message">
                Oops something went from.
              </div>
            </div>
            <div class="s-form__field">
              <label class="s-label">Job Type</label>
              <input class="s-input" placeholder="Add job type" value="Full time" />
              <div class="s-error-message">
                Oops something went from.
              </div>
            </div>
            <div class="s-form__field">
              <label class="s-label">Hiring Manager</label>
              <input class="s-input" placeholder="Add a hiring manager" value="Michael Baxster" />
              <div class="s-error-message">
                Oops something went from.
              </div>
            </div>
            <div class="s-form__field">
              <label class="s-label">Start Date</label>
              <input class="s-input" placeholder="Add start date" value="09/17/2018" />
              <div class="s-error-message">
                Oops something went from.
              </div>
            </div>
          </div>
          <div class="s-column">
            <div class="s-form__field">
              <label class="s-label">Group</label>
              <input class="s-input" placeholder="Add group name"  value="Group Name"/>
              <div class="s-error-message">
                Oops something went from.
              </div>
            </div>
            <div class="s-form__field">
              <label class="s-label">Location</label>
              <input class="s-input" placeholder="Add a location"  value="Jacksonville, FL"/>
              <div class="s-error-message">
                Oops something went from.
              </div>
            </div>
          </div>
        </div>
        <br />
        <br />
        <h5>Compensation Details</h5>
        <div class="s-two-column">
          <div class="s-column">
            <div class="s-form__field">
              <label class="s-label">Salary</label>
              <input class="s-input" placeholder="Add salary" value="75,000" />
              <div class="s-error-message">
                Oops something went from.
              </div>
            </div>
          </div>
          <div class="s-column">
            <div class="s-form__field">
              <label class="s-label">Benefits</label>
              <input class="s-input" placeholder="Add benefits"  value="Full"/>
              <div class="s-error-message">
                Oops something went from.
              </div>
            </div>
          </div>
        </div>
        <br />
        <br />
        <h5>Candidate Details</h5>
        <div class="s-form__field">
          <label class="s-label">Full Name</label>
          <input class="s-input" placeholder="Add candidate's full name" value="Taylor Philips" />
          <div class="s-error-message">
            Oops something went from.
          </div>
        </div>
        <div class="s-form__field">
          <label class="s-label">Email Address</label>
          <input class="s-input" placeholder="Add candidate's email address" value="tphilips@gmail.com"/>
          <div class="s-error-message">
            Oops something went from.
          </div>
        </div>
        <div class="s-form__field">
          <label class="s-label">Phone Number</label>
          <input class="s-input" placeholder="Add candidate's phone number" value="212-545-6757"/>
          <div class="s-error-message">
            Oops something went from.
          </div>
        </div>
        <div class="s-form__field">
          <label class="s-label">Street Address</label>
          <input class="s-input" placeholder="Add street address" value="123 N 3rd Ave"/>
          <div class="s-error-message">
            Oops something went from.
          </div>
        </div>
        <div class="s-form__field">
          <label class="s-label">Apt</label>
          <input class="s-input" placeholder="Add APT number" />
          <div class="s-error-message">
            Oops something went from.
          </div>
        </div>
        <div class="s-two-column">
          <div class="s-column">
            <div class="s-form__field">
              <label class="s-label">City</label>
              <input class="s-input" placeholder="Add city" value="New York City"/>
              <div class="s-error-message">
                Oops something went from.
              </div>
            </div>
          </div>
          <div class="s-column">
            <div class="s-form__field">
              <label class="s-label">State</label>
              <input class="s-input" placeholder="Add state" value="NY"/>
              <div class="s-error-message">
                Oops something went from.
              </div>
            </div>
          </div>
        </div>
        <div class="s-two-column">
          <div class="s-column">
            <div class="s-form__field">
              <label class="s-label">Country</label>
              <input class="s-input" placeholder="Add country" value="US" />
              <div class="s-error-message">
                Oops something went from.
              </div>
            </div>
          </div>
          <div class="s-column">
            <div class="s-form__field">
              <label class="s-label">Zipcode</label>
              <input class="s-input" placeholder="Add zipcode" value="10100"/>
              <div class="s-error-message">
                Oops something went from.
              </div>
            </div>
          </div>
        </div>
        <br />
        <button class="s-button s-button--secondary s-button--large">Preview Offer Letter</button>
      </form>
    </div>
    <div class="s-sidebar">
      <div class="s-sidebar__content">
        <div class="s-sidebar__header">
          <p>
            Preview Offer Letter
          </p>
          <i class="material-icons">
            open_in_new
          </i>
        </div>
        <form class="s-form">
          <div class="s-form__field">
            <label class="s-label">Offer Document</label>
            <input class="s-input" value="Sales Offer 1" />
            <div class="s-error-message">
              Oops something went from.
            </div>
          </div>
          <div class="s-form__field">
            <label class="s-label">Add Approvers</label>
            <input class="s-input" value="Susan Harris" />
            <div class="s-error-message">
              Oops something went from.
            </div>
          </div>
          <br />
          <button class="s-button s-button--large">Save</button>
        </form>
      </div>
    </div>
  </div>
</div>
