---
title: Silkroad - New Template Add Fields
---

<div class="s-nav">
  <div class="s-wrapper">
    <div class="s-nav__breadcrumb">
      <button class="s-button--text">
        <i class="material-icons">
          arrow_back
        </i>
      </button>
      <p>New Template</p>
    </div>
  </div>
</div>

<div class="s-wrapper">
  <div class="s-iframe-container">
    <iframe src="http://www.espn.com/">
      <p>Your browser does not support iframes.</p>
    </iframe>
  </div>
</div>
