---
title: Silkroad - New Offer Upload Added
---

<div class="s-nav">
  <div class="s-wrapper">
    <div class="s-nav__breadcrumb">
      <button class="s-button--text">
        <i class="material-icons">
          arrow_back
        </i>
      </button>
      <p>New Offer Letter</p>
    </div>
  </div>
</div>

<div class="s-new-offer">
  <div class="s-wrapper">
    <div class="s-new-offer__content">
        <h1>Upload your offer letter document</h1>
        <p>
          Only Word (.doc and .docx), PDF, and .txt file types are supported.
        </p>
        <div class="s-upload">
          <input type="file" name="file" id="file" class="s-upload__button" />
          <label for="file">Upload Files</label>
        </div>
        <div class="s-upload__doc">
          <i class="material-icons">
            insert_drive_file
          </i>
          <span>SalesOfferLetter (2).docx</span>
          <button class="s-button--text">
            <i class="material-icons">
              cancel
            </i>
          </button>
        </div>
        <!-- Divider -->
        <hr />
        <form class="s-form">
          <!-- Label and input with placeholder text -->
          <div class="s-form__field">
            <label class="s-label">Who needs to sign</label>
            <input class="s-input" placeholder="Approval Role (Manager, Employee, etc.)" />
            <div class="s-error-message">
              Oops something went from.
            </div>
          </div>
          <!-- Label and input with value -->
          <div class="s-form__field">
            <input class="s-input" value="Candidate" />
            <div class="s-error-message">
              Oops something went from.
            </div>
          </div>
          <button class="s-button--text">
            <i class="material-icons">
              add_circle_outline
            </i>
            <span>Add a role</span>
          </button>
        </form>
        <!-- Divider -->
        <hr />
        <button class="s-button s-button--secondary s-button--large">Add Fields and Signature</button>
        <!-- Divider -->
        <hr />
        <form class="s-form">
          <!-- Label and input with error state -->
          <div class="s-form__field">
            <label class="s-label">Add a template name</label>
            <input class="s-input" placeholder="Template Name" />
            <div class="s-error-message">
              Oops something went from.
            </div>
          </div>
        </form>
        <br />
        <br />
        <button class="s-button s-button--large">Save</button>
      </div>
      <div class="s-sidebar">
      </div>
    </div>
</div>
