---
title: Silkroad - Settings
---

<div class="s-nav">
  <div class="s-wrapper">
    <div class="s-nav__logo">
      <a href="/" alt="Silkroad"><img src="images/silkroad-logo.png" alt="Silkroad Logo" /></a>
    </div>
    <div class="s-nav__search">
      <div class="s-nav__search-icon">
        <i class="material-icons">
          search
        </i>
      </div>
      <input type="text" placeholder="Search by project or person" />
    </div>
    <div class="s-nav__menu-container">
      <div class="s-nav__avatar">
        <a href="#">
          <div class="s-nav__avatar-placeholder">
            aa
          </div>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="s-settings">
  <div class="s-wrapper">
    <h1>Settings</h1>
    <!-- Company Profile -->
    <div class="s-settings__content">
      <div class="s-settings__header">
        <div class="s-two-column">
          <div class="s-column">
            <h3>Company Profile</h3>
            <p>
              Add your company logo and primary color to brand your portal.
            </p>
          </div>
          <div class="s-column">
            <a  class="s-link-with-icon" href="">
              <div>
                View Your Portal
              </div>
              <i class="material-icons">
                launch
              </i>
            </a>
          </div>
        </div>
      </div>
      <!-- Upload Logo -->
      <div class="s-settings__section">
        <div class="s-two-column">
          <div class="s-column">
            <h3>Update Logo</h3>
            <p>
              Your logo will be displayed in emails and the candidate portal. The image file should be in JPG< SVG or PNG format, up to 400 x 400 pixels.
            </p>
            <div class="s-two-column s-two-column--vertical-center">
              <div class="s-column">
                <input type="file"  />
              </div>
              <div class="s-column">
                <div class="s-right">
                  <button class="s-button s-button--large s-button--secondary">Upload</button>
                </div>
              </div>
            </div>
            <hr />
            <div class="s-upload__doc">
              <i class="material-icons">
                insert_drive_file
              </i>
              <span>brand-logo.png</span>
            </div>
          </div>
          <div class="s-column"></div>
        </div>
      </div>
      <br/>
      <!-- Set Color -->
      <div class="s-settings__section">
        <h3>Set a Color</h3>
        <div class="s-color-input">
          <input class="s-input" type="text" value="#333333"/>
          <div class="s-color-input__preview">
          </div>
        </div>
      </div>
      <br />
      <!-- Upload Hero -->
      <div class="s-settings__section">
        <div class="s-two-column">
          <div class="s-column">
            <h3>Upload a Portal Hero Image</h3>
            <p>
              Your portal image will be displayed in the candidate portal. The image should not have any text. The file should be in SVG, PNG or JPG format, up to 2000 x 2000 pixels.
            </p>
            <div class="s-two-column s-two-column--vertical-center">
              <div class="s-column">
                <input type="file"  />
              </div>
              <div class="s-column">
                <div class="s-right">
                  <button class="s-button s-button--large s-button--secondary">Upload</button>
                </div>
              </div>
            </div>
            <hr />
          </div>
          <div class="s-column"></div>
        </div>
      </div>
      <br />
      <!-- Hero Statement -->
      <div class="s-settings__section">
        <div class="s-two-column">
          <div class="s-column">
            <h3>Add a Portal Hero Message</h3>
            <p>
              Your portal image will be displayed in the candidate portal. The image should not have any text. The file should be in SVG, PNG or JPG format, up to 2000 x 2000 pixels.
            </p>
            <textarea class="s-input" placeholder="Compose a message"></textarea>
            <br/>
            <div class="s-right">
<button class="s-button s-button--large s-button--secondary">Publish</button>
            </div>
          </div>
          <div class="s-column">
            <div class="s-help-text">
              <div class="s-flex">
                <i class="material-icons">
                  error
                </i>
                <strong>Portal Hero Tip</strong>
              </div>
              <p>
                Portal Hero is a short mission statement for to briefly describe your employer brand. Keep it short and sweet. The text will overlay the Portal Hero Image like this.
              </p>
            </div>
            <div class="s-hero s-hero--candidate-offer">
              <div class="s-hero__content">
                <h5>Join the Digital Payments Revolution</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Welcome Message -->
    <div class="s-settings__content">
      <div class="s-settings__section">
        <div class="s-two-column">
          <div class="s-column">
            <h3 class="s-dark-gray">Welcome Message</h3>
            <p>
              Add a welcome message to be displayed to all candidates prior to reviewing a document for signature.
            </p>
            <br />
            <h3>Add Your Message</h3>
            <p>
              Your message will be displayed in the candidate portal, is text only and should be no longer than X characters.
            </p>
            <textarea class="s-input" placeholder="Compose a message"></textarea>
            <br/>
            <div class="s-right">
<button class="s-button s-button--large s-button--secondary">Publish</button>
            </div>
          </div>
          <div class="s-column">
            <div class="s-help-text">
              <div class="s-flex">
                <i class="material-icons">
                  error
                </i>
                <strong>Welcome Message Tip</strong>
              </div>
              <p>
                Welcome messages are the first thing a new candidate will see. A best practice example is a message from leadership introducing company values and mission.
              </p>
            </div>
            <div class="s-welcome-message-preview">
              <p>
                Hi Taylor,
              <p/>
              <p>
                We believe that now is the time to democratize financial services so that moving and managing money is a right for all citizens. We are driven by this purpose, and we uphold our cultural values of collaboration, innovation, wellness and inclusion as our guide for making decisions and conducting business every day. Are you ready to build a world of economic opportunity?
              </p>
              <p>
                Join us.
              </p>
              <p>
                John Doe
                <br />
                CEO
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Pages -->
    <div class="s-settings__content">
      <div class="s-settings__header">
        <div class="s-two-column">
          <div class="s-column">
            <h3>Pages</h3>
            <p>
              Pages allow you to share the most important company values, features, benefits, work-life experiences with potential new hires.
            </p>
            <p>
              Pages are displayed on your candidate portal to allow you to add key employer branding components and additional documents to the offer process.
            </p>
          </div>
          <div class="s-column">
            <button class="s-button s-button--large s-button--secondary">Add New Page</button>
          </div>
        </div>
      </div>
      <div class="s-settings__section">
        <div class="s-manage-offers__table">
          <table>
            <thead>
              <tr>
                <th>Name</th>
                <th>Date</th>
                <th></th>
              </tr>
            </thead>
            <tr>
              <td>Some page name</td>
              <td>June 9</td>
              <td><a href="">Edit</a></td>
            </tr>
            <tr>
              <td>Some page name</td>
              <td>June 9</td>
              <td><a href="">Edit</a></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
