---
title: Silkroad - Settings
---

<div class="s-nav">
  <div class="s-wrapper">
    <div class="s-nav__logo">
      <a href="/" alt="Silkroad"><img src="images/silkroad-logo.png" alt="Silkroad Logo" /></a>
    </div>
    <div class="s-nav__search">
      <div class="s-nav__search-icon">
        <i class="material-icons">
          search
        </i>
      </div>
      <input type="text" placeholder="Search by project or person" />
    </div>
    <div class="s-nav__menu-container">
      <div class="s-nav__avatar">
        <a href="#">
          <div class="s-nav__avatar-placeholder">
            aa
          </div>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="s-settings">
  <div class="s-wrapper">
    <h1>Settings</h1>
    <div class="s-settings__content">
      <div class="s-settings__header">
        <div class="s-two-column">
          <div class="s-column">
            <h3>Company Profile</h3>
            <p>
              Add your company logo and primary color to brand your portal.
            </p>
          </div>
          <div class="s-column">
            <a href="">
              View Your Portal
              <i class="material-icons">
                launch
              </i>
            </a>
          </div>
        </div>
      </div>
      <!-- Upload Logo -->
      <div class="s-settings__section">
        <div class="s-two-column">
          <div class="s-column">
            <h3>Update Logo</h3>
            <p>
              Your logo will be displayed in emails and the candidate portal. The image file should be in JPG< SVG or PNG format, up to 400 x 400 pixels.
            </p>
            <div class="s-two-column">
              <div class="s-column">
                <input type="file"  />
              </div>
              <div class="s-column">
                <button class="s-button s-button--large s-button--secondary">Upload</button>
              </div>
            </div>
            <hr />
            <div class="s-upload__doc">
              <i class="material-icons">
                insert_drive_file
              </i>
              <span>brand-logo.png</span>
            </div>
          </div>
          <div class="s-column"></div>
        </div>
      </div>
      <!-- Set Color -->
      <div class="s-settings__section">
        <h3>Set a Color</h3>
        <div class="s-color-input">
          <input class="s-input" type="text" value="#333333"/>
          <div class="s-color-input__preview">

          </div>
        </div>
      </div>
      <!-- Upload Hero -->
      <div class="s-settings__section">
        <div class="s-two-column">
          <div class="s-column">
            <h3>Upload a Portal Hero Image</h3>
            <p>
              Your portal image will be displayed in the candidate portal. The image should not have any text. The file should be in SVG, PNG or JPG format, up to 2000 x 2000 pixels.
            </p>
            <div class="s-two-column">
              <div class="s-column">
                <input type="file"  />
              </div>
              <div class="s-column">
                <button class="s-button s-button--large s-button--secondary">Upload</button>
              </div>
            </div>
            <hr />
          </div>
          <div class="s-column"></div>
        </div>
      </div>
      <!-- Hero Statement -->
      <div class="s-settings__section">
        <div class="s-two-column">
          <div class="s-column">
            <h3>Add a Portal Hero Message</h3>
            <p>
              Your portal image will be displayed in the candidate portal. The image should not have any text. The file should be in SVG, PNG or JPG format, up to 2000 x 2000 pixels.
            </p>
            <textarea class="s-input" placeholder="Compose a message"></textarea>
            <button class="s-button s-button--large s-button--secondary">Publish</button>
          </div>
          <div class="s-column">
            <div>
              <i class="material-icons">
                error
              </i>
              <strong>Portal Hero Tip</strong>
            </div>
            <p>
              Portal Hero is a short mission statement for to briefly describe your employer brand. Keep it short and sweet. The text will overlay the Portal Hero Image like this.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
