---
title: Silkroad - Content
---
<div class="s-nav">
  <div class="s-wrapper">
    <div class="s-nav__breadcrumb">
      <button class="s-button--text">
        <i class="material-icons">
          close
        </i>
      </button>
    </div>
  </div>
</div>
<br/>
<br/>
<div class="s-work-life">
  <div class="s-wrapper">

    <div class="s-work-life__video">
      <iframe width="700" height="455" src="https://www.youtube.com/embed/lkz4GZgyb9o" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
    <div class="s-work-life__content">
      <h2>About PayPal</h2>
      <p>
        PayPal is committed to democratizing financial services and empowering people and businesses to join and thrive in the global economy. Our open digital payments platform gives PayPal’s 237 million active account holders the confidence to connect and transact in new and powerful ways, whether they are online, on a mobile device, in an app, or in person.
      </p>
      <p>
        Through a combination of technological innovation and strategic partnerships, PayPal creates better ways to manage and move money, and offers choice and flexibility when sending payments, paying or getting paid. PayPal enables consumers and merchants to receive money in more than 100 currencies, withdraw funds in 56 currencies and hold balances in their PayPal accounts in 25 currencies
      </p>
      <hr  />
    </div>
  </div>
</div>

<br />
<br />
