---
title: Silkroad - Template Preview
---

<div class="s-nav s-nav--preview">
  <div class="s-wrapper">
    <div class="s-nav__breadcrumb">
      <button class="s-button--text">
        <i class="material-icons">
          close
        </i>
      </button>
    </div>
  </div>
</div>

<div class="s-wrapper">
  <div class="s-iframe-container">
    <iframe src="http://www.espn.com/">
      <p>Your browser does not support iframes.</p>
    </iframe>
  </div>
</div>
