---
title: Silkroad - Template List
---

<div class="s-nav">
  <div class="s-wrapper">
    <div class="s-nav__logo">
      <a href="/" alt="Silkroad"><img src="images/silkroad-logo.png" alt="Silkroad Logo" /></a>
    </div>
    <div class="s-nav__search">
      <div class="s-nav__search-icon">
        <i class="material-icons">
          search
        </i>
      </div>
      <input type="text" placeholder="Search by project or person" />
    </div>
    <div class="s-nav__menu-container">
      <div class="s-nav__avatar">
        <a href="#">
          <div class="s-nav__avatar-placeholder">
            aa
          </div>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="s-offer s-offer--candidate">
  <div class="s-wrapper">
    <div class="s-header">
      <h3>Offers</h3>
    </div>
  </div>
</div>

<div class="s-manage-offer">
  <div class="s-wrapper">
    <div class="s-manage-offers__header">
      <h1>
        Templates
      </h1>
      <button class="s-button s-button--icon s-button--secondary">
        <i class="material-icons">
          add
        </i>
        <span>Template</span>
      </button>
    </div>
    <div class="s-manage-offers__table">
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Owner</th>
            <th>Last Modified</th>
          </tr>
        </thead>
        <tr>
          <td>Template Name 1</td>
          <td>Taylor Philips</td>
          <td>Jun 9</td>
        </tr>
        <tr>
          <td>A Super Really Long Template Name and Info</td>
          <td>Sean Taylor</td>
          <td>Jun 9</td>
        </tr>
        <tr class="s-manage-offers__details">
          <td colspan="3">
            <div class="s-manage-offers__details-content">
              <div>
                <dl>
                  <dt>
                    Created
                  </dt>
                  <dd>
                    May 5
                  </dd>
                </dl>
                <dl>
                  <dt>
                    Edited By
                  </dt>
                  <dd>
                    Jane Doe
                  </dd>
                </dl>
                <dl>
                  <dt>
                    ID
                  </dt>
                  <dd>
                    9bfb1da0c9a72df9749d0f73059bbefdd79cc971
                  </dd>
                </dl>
              </div>
              <div>
                <button class="s-button">Edit</button>
              </div>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
